stages:
  - test

cache:
  key:
    files:
      - package.json
  paths:
    - node_modules/
    - .vite
  policy: pull-push

frontend-test:
  stage: test
  image: node:20
  before_script:
    - npm ci
  script:
    - npm test
  artifacts:
    when: always
    expire_in: 1 week
    paths:
      - node_modules/